include /_mixins
block vars
doctype
html(lang='ja', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://www.facebook.com/2008/fbml')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='#{SITE.VIEWPORT}')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge, chrome=1')
    include /_inc/_title
    include /_inc/_meta
    include /_inc/_link
    block css
  body
    block header
    block content
    block footer
    include /_inc/_script
    block script